<h1>Edição de currículo</h1>

<%= render 'form', curriculo: @curriculo %>

<button type="button" class="btn btn-secondary btn-sm" style="margin-top: 15px;">
  <%= link_to 'Visualizar', @curriculo %>
</button>
<button type="button" class="btn btn-secondary btn-sm" style="margin-top: 15px;">
  <%= link_to 'Voltar', curriculos_path %>
</button>
